<load src="partials/hero.html" />

<div>
  <load src="partials/filters.html" />

  <div class="main-content">
    <aside class="sidebar">
      <load src="partials/quote.html" />
      <load src="partials/sidebar-image.html" />
      <load src="partials/info-card.html" />
    </aside>

    <section class="content-area">
      <div id="exercises-container">
        <!-- Exercises list or Categories list will be injected here -->
      </div>
      <div id="pagination-container"></div>
    </section>
  </div>
</div>
