<div class="pagination">
  <div class="pagination-btns">
    <button class="pagination-btn pagination-first" data-page="1" aria-label="First page">
      <svg width="13" height="12" class="pagination-icon flip">
        <use href="#icon-double-arrow-right"></use>
      </svg>
    </button>
    <button class="pagination-btn pagination-prev" aria-label="Previous page">
      <svg width="20" height="20" class="pagination-icon flip">
        <use href="#icon-arrow-right"></use>
      </svg>
    </button>
  </div>
  <div class="pagination-nbrs"></div>
  <div class="pagination-btns">
    <button class="pagination-btn pagination-next" aria-label="Next page">
      <svg width="20" height="20" class="pagination-icon">
        <use href="#icon-arrow-right"></use>
      </svg>
    </button>
    <button class="pagination-btn pagination-last" aria-label="Last page">
      <svg width="13" height="12" class="pagination-icon">
        <use href="#icon-double-arrow-right"></use>
      </svg>
    </button>
  </div>
</div>
