<div class="quote-card">
  <div class="quote-header">
    <span class="quote-icon">
      <svg width="20" height="20" aria-hidden="true">
        <use href="#icon-quote"></use>
      </svg>
    </span>
    <div class="quote-content">
      <h3 class="quote-title">Quote of the day</h3>
      <p id="quote-text" class="quote-text">
        A lot of times I find that people who are blessed with the most talent don't ever develop
        that attitude, and the ones who aren't blessed in that way are the most competitive and have
        the biggest heart.
      </p>
    </div>
  </div>
  <p id="quote-author" class="quote-author">Tom Brady</p>
</div>
