/* Main Content Layout */
.main-content {
  min-height: 1121px;
  display: grid;
  grid-template-columns: 444px 1fr;
  gap: var(--gap-32);
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: var(--gap-32);
}

.content-area {
  flex: 1;
}

/* Responsive */
@media (width <= 1200px) {
  .main-content {
    grid-template-columns: 1fr;
  }

  .sidebar {
    grid-row: 2;
  }
}
