/* Quote Card */
.quote-card {
  background-color: var(--color-dark);
  color: var(--color-light);
  padding: 40px;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  min-height: 242px;
}

.quote-card::before {
  content: '';
  position: absolute;
  top: 40px;
  right: 40px;
  width: 24px;
  height: 24px;
  background-color: #f4f4f4;
  mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 18.516 15.5203' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.7506,8.3012c1.159,-0.459 2.089,-0.339 2.789,0.361c0.7,0.7 0.908,1.816 0.623,3.347c-0.218,1.138 -0.7,2.013 -1.443,2.625c-0.722,0.591 -1.565,0.886 -2.527,0.886c-1.313,0 -2.22,-0.503 -2.723,-1.509c-0.504,-1.028 -0.602,-2.407 -0.296,-4.135c0.175,-0.94 0.46,-1.892 0.853,-2.854c0.394,-0.963 0.919,-1.947 1.575,-2.953c0.657,-1.007 1.51,-1.882 2.56,-2.625c1.05,-0.744 2.209,-1.225 3.478,-1.444l-0.328,3.478c-1.072,0.219 -2.024,0.776 -2.855,1.673c-0.831,0.875 -1.4,1.925 -1.706,3.15zM13.6266,8.3012c1.16,-0.459 2.089,-0.339 2.789,0.361c0.7,0.7 0.908,1.816 0.624,3.347c-0.219,1.138 -0.7,2.013 -1.444,2.625c-0.722,0.591 -1.564,0.886 -2.526,0.886c-1.313,0 -2.221,-0.503 -2.724,-1.509c-0.503,-1.028 -0.601,-2.407 -0.295,-4.135c0.175,-0.94 0.459,-1.892 0.853,-2.854c0.394,-0.963 0.919,-1.947 1.575,-2.953c0.656,-1.007 1.509,-1.882 2.559,-2.625c1.05,-0.744 2.21,-1.225 3.478,-1.444l-0.328,3.478c-1.072,0.219 -2.023,0.776 -2.854,1.673c-0.832,0.875 -1.4,1.925 -1.707,3.15z'/%3E%3C/svg%3E");
  mask-size: contain;
  mask-repeat: no-repeat;
}

.quote-header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 16px;
  margin-bottom: 16px;
}

.quote-icon {
  width: 34px;
  height: 32px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.quote-icon::before {
  content: '';
  position: absolute;
  width: 32px;
  height: 32px;
  background-color: rgb(244, 244, 244, 0.2);
  border-radius: 50%;
  z-index: 0;
}

.quote-icon svg {
  width: 20px;
  height: 20px;
  position: relative;
  z-index: 1;
  color: var(--color-light);
}

.quote-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  flex: 1;
}

.quote-title {
  font-size: var(--fs-24);
  font-weight: 500;
  line-height: 32px;
  color: var(--color-light);
  margin: 0;
}

.quote-text {
  font-size: var(--fs-14);
  line-height: var(--lh-18);
  color: var(--color-light-60);
  margin: 0;
}

.quote-author {
  font-size: var(--fs-16);
  font-weight: 400;
  line-height: 24px;
  color: var(--color-light);
  margin: 0;
  margin-left: 50px;
}
